<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_casse_expire"
              name="Cassé / Expiré"
              parent="stock.menu_stock_root"
              sequence="10"
    />

    <!-- menu casse -->
    <menuitem id="menu_casser"
              name="Cassé"
              parent="menu_casse_expire"
              action="casser_action_window"
              sequence="0"
    />

    <!-- menu expire -->
    <menuitem id="menu_expire"
              name="Expiré"
              parent="menu_casse_expire"
              action="expirer_action_window"
              sequence="1"
    />
</odoo>